body{
	font-size:2.0vw;
	line-height:1.2;
}
h1,h2,h3,h4,h5,h6{margin-bottom:2px}

.bg{background-color:var(--bg,#666)}
.bg th{background-color:var(--hg,#ccc)}
.bg td{background-color:var(--dg,#eed)}

.fix ol,
.fix ul,
.fix li,
.fix dt,
.fix dd,
dl{margin:0; padding:0}
li,dt,dl{margin:0; padding:0.25ex 0.5ex}
